<div class="nav-bar">
    <nav class="navbar navbar-light bg-light">

        <div class="menu-side-box">
            <!-- ปุ่มเปิดปิด sidemenu -->
            <button id="toggle-sidemenu" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#sidemenu" aria-controls="sidemenu" aria-expanded="false" aria-label="Toggle sidemenu"
                style="color: rgb(49, 49, 49);">
                <i class='fas fa-bars'></i>
            </button>

            <!-- Logo -->
            <a class="navbar-brand" href="#">Logo</a>
        </div>

        <!-- รูปและชื่อผู้ใช้เป็น dropdown -->
        <div class="dropdown user-info">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="../../images/ava.png" alt="User Avatar" class="user-avatar">
                <span id="show-username"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item disabled" href="#">Profile</a>
                <a class="dropdown-item disabled" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" onclick="logOut()">Logout</a>
            </div>
        </div>
    </nav>

</div>