<!-- sidenav menu -->
<div class="sidenav" id="sidenav">

    <div class="sidenav-header">
        <button id="sidemenu-hide" class="btn btn-dark">
            <i class='fas fa-bars' style="color: black;"></i>
        </button>
        <button class="sidenav-title btn btn-link ml-3">Weed Station P&P</button>
    </div>
    <nav>
        <ul class="menu-list">
            <li><a class="" href="/"><i class="fas fa-tachometer-alt mr-2"></i> Dashboard</a></li>
            <li><a class="" href="/product"><i class="fas fa-columns mr-2"></i> Product</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
</div>

<div class="sidenav-backdrop"></div>