<nav class="navbar-side">
    <div class="navbar-side-header">
        <h3>Navbar Side</h3>
        <button class="navbar-toggle-btn" onclick="toggleNavbar()">☰</button>
    </div>
    <ul class="navbar-side-menu" id="navbarSideMenu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
