<!-- sidenav menu -->
<div class="sidenav" id="sidenav">

    <nav class="sidenav-header navbar navbar-light bg-light">
        <!-- <button id="sidemenu-hide" class="btn btn-dark">
            <i class='fas fa-bars' style="color: black;"></i>
        </button> -->
        <button id="sidemenu-hide" class="navbar-toggler" type="button">
            <i class='fas fa-bars'></i>
        </button>

        <a class="sidenav-title btn btn-link ">Weed Station P&P</a>
    </nav>
    <nav>
        <ul class="menu-list">
            <li><a class="" href="/"><i class="fas fa-tachometer-alt mr-2"></i> Dashboard</a></li>
            <li><a class="" href="/product"><i class="fas fa-columns mr-2"></i> Product</a></li>
            <li><a class="" href="#"><i class="fas fa-gear mr-2"></i> Settings</a></li>
        </ul>
    </nav>
</div>

<div class="sidenav-backdrop"></div>