:root {
    /* --main-color: #ff4500; */
    --bg-color: #f0f0f0;
    --font-size: 16px;
    /* --font-color: #000000; */
}

[v-cloak] {
    display: none;
}

body {
    overflow-x: hidden;
    /* ป้องกันการเกิดการเลื่อนแนวนอน */
}

.main-content {
    padding: 20px 0px;
    background-color: var(--bg-color);
    transition: all 0.3s ease;
    min-height: 100vh;
}

.login-container {
    padding: 80px;
}

.resetpassword {
    float: right;
}

.resetpassword:hover {
    color: rgb(0, 0, 0);
}

.auth-form {
    width: 320px;
    margin: 0 auto;
}

.recent-activity {
    background-color: white;
    /* border: #0056b3 1px solid; */

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.select-date-active,
.select-user-active {
    width: 150px;
}
.select-activity-group {
    border-bottom:1px black solid;
    margin-bottom: 25px;
}

/* Nav bar */
.navbar-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);

}

.navbar-brand {
    padding-left: 10px;
}

/* Side Nav */

.sidenav {
    background-color: #f8f9fa;
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 1.3px;
    overflow-x: hidden;
    z-index: 1;
    /* transition: 0.1s; */

}

.sidenav-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.sidenav.open {
    transform: translateX(0);
}

.sidenav.open+.sidenav-backdrop {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    margin-left: 240px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav-header {
    /* padding: 10px 0px 0px 32px; */
    white-space: nowrap;
}

.sidenav-title {
    color: rgb(0, 0, 0);
    text-decoration-line: none !important;
    margin-left: 0px;
}

.menu-list {
    margin-top: 11px;
}

.menu-list li {
    margin: 0px 15px;
    padding: 10px 15px;
}

.menu-list li i {
    font-size: 14px;
    margin-right: 0.5rem !important;
}

.menu-list li a {
    white-space: nowrap;
    padding: 3px 5px 3px 12px;
    text-decoration: none;
    /* font-size: var(--font-size); */
    font-size: 14px;
    color: black;
    /*color: #818181; */
    display: block;
    transition: 0.3s;
}

.menu-list li a:hover {
    color: #f1f1f1;
}

.menu-list li:hover {
    background-color: #3686dd;
    border-radius: 5px;
    padding: 10px 15px;
}

.menu-list li.active {
    border: 1px solid #007bff;
    background-color: #0069d9;
    border-radius: 5px;
    display: inline-block;
    width: 87%;
}

.users-menu {
    display: none;
}

.users-menu.show {
    display: block;
}

#sidemenu-hide {
    background-color: #f8f9fa;
    border-color: rgba(0, 0, 0, 0.1);
    color: rgb(49, 49, 49);
}

/* Custom class */
.cursor-pointer {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}

.user-info {
    padding-right: 50px;
    cursor: pointer;
}

/* etc. */
.user-avatar {
    width: 20px;
    height: 20px;
}

.reset-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.reset-password-form h2 {
    margin-bottom: 20px;
}

.reset-password-form form {
    display: flex;
    flex-direction: column;
}

.reset-password-form label {
    font-weight: bold;
    margin-bottom: 8px;
}

.reset-password-form input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reset-password-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.reset-password-form button:hover {
    background-color: #0056b3;
}

/* IMG */
.play-overlay {
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 1s;
}

.play-overlay i {
    font-size: var(--font-size);
    color: #ffffff;
}

.play-overlay i:hover {
    color: #ffffff;
}

figure.sixteen-nine-img:hover>.play-overlay {
    display: block !important;
}

figure.sixteen-nine-img {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
    background-color: transparent;
    /*box-shadow: 5px 10px 18px #888888;*/
}

figure.sixteen-nine-img img {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

figure.sixteen-nine-img:hover>.play-overlay {
    display: block !important;
}

.img-thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    max-width: 100px;
    width: 85.6px;
}

.img-thumb-circle {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 1px;
    max-width: 35px;
    width: 100%;
}

.img-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* Custom datatables style */
#products-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

#products-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#products-table tbody tr:hover {
    background-color: #c7c7c7;
}

#products-table tbody tr td {
    vertical-align: middle;
}

/* Modal */
#modal-loading {
    margin-top: 20%;
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border: 2px solid blue;
    border-radius: 50%;
    border-top-color: #0001;
    display: inline-block;
    animation: loadingspinner .7s linear infinite;
}

@keyframes loadingspinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}