.cursor-pointer {
    cursor: pointer;
}

.play-overlay {
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 1s;
}

.play-overlay i {
    font-size: 22px;
    color: #ffffff;
}

.play-overlay i:hover {
    color: #ffffff;
}

figure.sixteen-nine-img:hover>.play-overlay {
    display: block !important;
}

figure.sixteen-nine-img {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
    background-color: transparent;
    /*box-shadow: 5px 10px 18px #888888;*/
}

figure.sixteen-nine-img img {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

figure.sixteen-nine-img:hover>.play-overlay {
    display: block !important;
}

.img-thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    max-width: 100px;
    width: 85.6px;
}

.img-thumb-circle {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 1px;
    max-width: 35px;
    width: 100%;
}

.img-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    width: 100%;
}


#products-table tbody tr:nth-child(even) {
    background-color: #ffffff; /* ขาว */
}

#products-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* เทา */
}

/* Optional: Hover effect */
#products-table tbody tr:hover {
    background-color: #c7c7c7; /* เทาอ่อน */
}

#products-table tbody tr td {
    /* ส่วนของ CSS ที่คุณต้องการใช้งานบนเซลล์ td ของคอลัมน์สุดท้าย */
    vertical-align: middle;
}


#modal-loading {
    margin-top: 20%;
}

.loading-spinner{
    width:30px;
    height:30px;
    border:2px solid blue;
    border-radius:50%;
    border-top-color:#0001;
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
  }
  @keyframes loadingspinner{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }
