<div id="dashboardpage" v-cloak>

    <div class="container">

        <h1>Dashboard</h1>
        <p>Here you can view your latest statistics and manage your account.</p>

        <div class="row">
            <div class="col-md-6">
                <h2>Statistics</h2>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="recent-activity col-md-6">
                <div class="select-activity-group p-3 d-flex justify-content-between">
                        <span class="pt-1">Recent Activities</span>
                    
                        <div class="select-activity">
                            <select class="select-user-active custom-select">
                                <option>All Users</option>
                                <option>User1</option>
                                <option>User2</option>
                            </select>
                            <select class="select-date-active custom-select">
                                <option>Today</option>
                                <option>Tomorrow</option>
                                <option>Last 1 hour</option>
                                <!-- Add option  -->
                            </select>
                        </div>
                </div>
     
                <div class="display-activity">
                    <ul>
                        <li>Activity 1</li>
                        <li>Activity 2</li>
                        <li>Activity 3</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 mt-3">
                <h2>Products</h2>
                <ul>
                    <li>Products count = 5 product</li>
                    <li>Logs</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<!-- 
1. Storage , Disk
2. DB Status
3. Statistics ( )
4. Products detail
5. User
-->