<div id="loginpage" v-cloak>
    <div class="login-container">
        <!-- Add LOGO -->
        <h1 class=" text-center">Login</h1>
        <form class="login-validation auth-form mt-4">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                    required>
                <div class="invalid-feedback">
                    Please insert username
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                    required>
                <div class="invalid-feedback">
                    Please insert password
                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-info"><a href="/register"
                        style="color: white;">Register</a></button>
                <button type="button" class="btn btn-primary" @click="login()">Login</button>
                <a class="resetpassword mt-1 disabled" href="#/resetpassword" >Reset Password</a>
            </div>

            <hr class="">

            <div class="form-group mt-3">
                <button type="button" class="btn btn-outline-dark mb-2" @click="loginWithOAuth('google')" disabled><i
                        class="fab fa-google"></i> Login with Google</button>
                <button type="button" class="btn btn-outline-primary mb-2" @click="loginWithOAuth('facebook')"
                    disabled><i class="fab fa-facebook"></i> Login with Facebook</button>
            </div>

        </form>
    </div>
</div>