<!-- OK -->
<!-- !OK -->

<!-- 1. User management and Access control *-->
<!-- 2. Content Management * -->
<!-- 3. Content Editor *-->
<!-- 4. Media Management *-->
<!-- 5. Template and Customization *-->
<!-- 6. Menu Management *-->
<!-- 7. Search Functionality *-->
<!-- 8. Plugins and Extensions *-->
<!-- 9. SEO Tools *-->
<!-- 10. Reporting and Analytics *-->
<!-- 11. Version Control *-->
<!-- 12. Form Management *-->
<!-- 13. Backup and Restore *-->
<!-- 14. Notification and Communication *-->

<div id="productpage2" v-cloak>

    <div class="container mt-5">
        <h2>Product List</h2>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" v-on:click="addProductModal()">Add Product</button>
            <!-- <input placeholder="Search" /> -->
        </div>
        <!-- ตารางสำหรับแสดงข้อมูลสินค้า -->
        <table id="products-table" class="table table-bordered mt-3">
            <thead>
                <tr>

                    <!-- <th v-for="column in columns" :key="column.field" class="column-title sorting text-center"
                        :width="column.width" v-on:click="sort(column.field, column.sort)" v-if="column.field != 'id'">
                        {{column.label}} <i v-if="sorting" class="fas fa-sort float-right mt-1"></i>
                    </th> -->

                    <th v-for="column in columns" :key="column.field" class="column-title text-center"
                        :width="column.width">
                        {{column.label}}
                    </th>

                    <!-- <th>No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th> -->

                    <!-- 
                    <th>Cate</th>
                    <th>Sativa</th>
                    <th>Indica</th>
                    <th>THC</th>
                    <th>CBD</th>
                    <th>Flavors</th>
                    <th>effect</th>
                    <th>desc</th> 
                    <th>Create date</th>
                    <th>Update date</th>
                    -->
                </tr>
            </thead>
            <tbody>



            </tbody>
        </table>
        <!-- Pagination controls -->
        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav> -->
    </div>

    <!-- Modal เพิ่มสินค้า -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ฟอร์มเพิ่มสินค้า -->
                    <form ref="addProductValidation" class="add-product-validation">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productName">Name:</label>
                                    <input type="text" class="form-control" id="productName" v-model="newProduct.name"
                                        required />
                                    <div class="invalid-feedback">
                                        Invalid Name
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productPrice">Price:</label>
                                    <input type="text" class="form-control" id="productPrice" v-model="newProduct.price"
                                        pattern="[0-9]{1,8}" required>
                                    <div class="invalid-feedback">
                                        Invalid Price
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="productImage">Image URL:</label>
                            <input type="text" class="form-control" id="productImage" v-model="newProduct.image">
                        </div> -->

                        <div class="form-group">
                            <label for="productCate">Category:</label>
                            <select class="form-control" v-model="newProduct.cate" required>
                                <option value="flower" selected>Flower</option>
                                <option value="trim">Trim</option>
                                <option value="item">Item</option>
                                <option value="stick">Stick</option>
                                <option value="roll">Roll</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select category
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productSantiva">Santiva:</label>
                                    <input type="text" class="form-control" id="productSantiva" pattern="[0-9]{1,3}"
                                        v-model="newProduct.santiva">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productIndica">Indica:</label>
                                    <input class="form-control" id="productIndica" pattern="[0-9]{1,3}"
                                        v-model="newProduct.indica" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productThc">THC:</label>
                                    <input class="form-control" id="productThc" v-model="newProduct.thc"
                                        pattern="[0-9]{1,3}" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productCbd">CBD:</label>
                                    <input class="form-control" id="productCbd" v-model="newProduct.cbd"
                                        pattern="[0-9]{1,3}" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productFlovors">Flovors:</label>
                                    <textarea class="form-control" id="productFlovors" rows="3"
                                        v-model="newProduct.flovors"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productEffect">Effect:</label>
                                    <textarea class="form-control" id="productEffect" rows="3"
                                        v-model="newProduct.effect"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productDesc">Description:</label>
                            <textarea class="form-control" id="productDesc" rows="2"
                                v-model="newProduct.description"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="saveAddProduct">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal view detail -->
    <div class="modal fade" id="viewProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ฟอร์มเพิ่มสินค้า -->
                    <form ref="addProductValidation" class="add-product-validation">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productName">Name:</label>
                                    <input type="text" class="form-control" id="productName"
                                        v-model="productDetail.name" disabled />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productPrice">Price:</label>
                                    <input type="text" class="form-control" id="productPrice"
                                        v-model="productDetail.price" disabled>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="productImage">Image URL:</label>
                            <input type="text" class="form-control" id="productImage" v-model="productDetail.image">
                        </div> -->

                        <div class="form-group">
                            <label for="productCate">Category:</label>
                            <select class="form-control" v-model="productDetail.cate" disabled>
                                <option></option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productSantiva">Santiva:</label>
                                    <input type="text" class="form-control" id="productSantiva"
                                        v-model="productDetail.santiva" disabled>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productIndica">Indica:</label>
                                    <input class="form-control" id="productIndica" v-model="productDetail.indica"
                                        disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productThc">THC:</label>
                                    <input class="form-control" id="productThc" v-model="productDetail.thc" disabled />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productCbd">CBD:</label>
                                    <input class="form-control" id="productCbd" v-model="productDetail.cbd" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productFlovors">Flovors:</label>
                                    <textarea class="form-control" id="productFlovors" v-model="productDetail.flovors"
                                        disabled></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productEffect">Effect:</label>
                                    <textarea class="form-control" id="productEffect" v-model="productDetail.effect"
                                        disabled></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productDesc">Description:</label>
                            <textarea class="form-control" id="productDesc" v-model="productDetail.description"
                                disabled></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update product -->
    <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ฟอร์มเพิ่มสินค้า -->
                    <form ref="addProductValidation" class="add-product-validation">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productName">Name:</label>
                                    <input type="text" class="form-control" id="productName" v-model="newProduct.name"
                                        required />
                                    <div class="invalid-feedback">
                                        Invalid Name
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productPrice">Price:</label>
                                    <input type="text" class="form-control" id="productPrice" v-model="newProduct.price"
                                        pattern="[0-9]{1,8}" required>
                                    <div class="invalid-feedback">
                                        Invalid Price
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                        <label for="productImage">Image URL:</label>
                        <input type="text" class="form-control" id="productImage" v-model="newProduct.image">
                    </div> -->

                        <div class="form-group">
                            <label for="productCate">Category:</label>
                            <select class="form-control" v-model="newProduct.cate" required>
                                <option value="flower" selected>Flower</option>
                                <option value="trim">Trim</option>
                                <option value="item">Item</option>
                                <option value="stick">Stick</option>
                                <option value="roll">Roll</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select category
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productSantiva">Santiva:</label>
                                    <input type="text" class="form-control" id="productSantiva" pattern="[0-9]{1,3}"
                                        v-model="newProduct.santiva">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productIndica">Indica:</label>
                                    <input class="form-control" id="productIndica" pattern="[0-9]{1,3}"
                                        v-model="newProduct.indica" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productThc">THC:</label>
                                    <input class="form-control" id="productThc" v-model="newProduct.thc"
                                        pattern="[0-9]{1,3}" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productCbd">CBD:</label>
                                    <input class="form-control" id="productCbd" v-model="newProduct.cbd"
                                        pattern="[0-9]{1,3}" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productFlovors">Flovors:</label>
                                    <textarea class="form-control" id="productFlovors" rows="3"
                                        v-model="newProduct.flovors"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productEffect">Effect:</label>
                                    <textarea class="form-control" id="productEffect" rows="3"
                                        v-model="newProduct.effect"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productDesc">Description:</label>
                            <textarea class="form-control" id="productDesc" rows="2"
                                v-model="newProduct.description"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="saveAddProduct">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <tr v-for="row in rows" :key="row.id">
    <td v-for="(value, key, index) in row" :key="key" v-if="index != 0">
        <div v-if="index == 1" v-html="index" class="font-weight-normal"></div>
        <div v-if="key == 3" class="item-action dropdown">
            <a data-toggle="dropdown" class="icon cursor-pointer"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" @click="getRow(row[0], row[3])"><i class="fas fa-edit"></i> Edit</a>
              <a class="dropdown-item" @click="deleteRow(row[0], row[3])"><i class="fas fa-trash-alt"></i>
                Delete</a>
            </div>
          </div>

          <figure v-if="key == 4" class="sixteen-nine-img cursor-pointer" @click="viewImage(value)">
            <img class="img-thumb" :src="imageproxy(value, 100)" alt="avatar"
              onerror="this.onerror=null;this.src='../../images/default_image.jpg'" />
            <div class="play-overlay"><i class="fa fa-search"></i></div>
          </figure>

        <div v-else v-html="value" class="font-weight-normal"></div>

        <div v-html="value" class="font-weight-normal"></div>

    </td>

    <td class="text-center">
        <button class="btn btn-sm btn-info" @click="viewProduct(row.id)">View detail</button>
        <button class="btn btn-sm btn-primary">Edit</button>
        <button class="btn btn-sm bแtn-danger" @click="deleteProduct(row.id,row.name)">Delete</button>
    </td>
</tr> -->