<div id="productpage" v-cloak>

    <div class="container mt-5">
        <h2>Product List</h2>

        <div class="d-flex justify-content-between pt-3 pb-2">
            <button class="btn btn-primary" v-on:click="addProductModal()">Add Product</button>
            <!-- <input placeholder="Search" /> -->
        </div>
        <!-- ตารางสำหรับแสดงข้อมูลสินค้า -->
        <table id="products-table" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th v-for="column in columns" :key="column.field" class="column-title text-center"
                        :width="column.width">
                        {{column.label}}
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <!-- Modal เพิ่มสินค้า -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ฟอร์มเพิ่มสินค้า -->
                    <form ref="addProductValidation" class="add-product-validation" id="formProduct">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productName">Name:</label>
                                    <input type="text" class="form-control" id="productName" v-model="newProduct.name"
                                        required />
                                    <div class="invalid-feedback">
                                        Invalid Name
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productPrice">Price:</label>
                                            <input type="text" class="form-control" id="productPrice"
                                                v-model="newProduct.price" pattern="[1-9][0-9]{0,7}" required>
                                            <div class="invalid-feedback">
                                                Invalid Price
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productCate">Category:</label>
                                            <select class="form-control" v-model="newProduct.cate" required>
                                                <option value="flower" selected>Flower</option>
                                                <option value="trim">Trim</option>
                                                <option value="item">Item</option>
                                                <option value="stick">Stick</option>
                                                <option value="roll">Roll</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select category
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productSantiva">Santiva:</label>
                                            <input type="text" class="form-control" id="productSantiva"
                                                pattern="[0-9]{0,2}" v-model="newProduct.santiva">
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productIndica">Indica:</label>
                                            <input class="form-control" id="productIndica" pattern="[0-9]{0,2}"
                                                v-model="newProduct.indica" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productThc">THC:</label>
                                            <input class="form-control" id="productThc" v-model="newProduct.thc"
                                                type="text" pattern="[0-9\.\-]*" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productCbd">CBD:</label>
                                            <input class="form-control" id="productCbd" v-model="newProduct.cbd"
                                                pattern="[0-9\.\-]*" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group" style="max-width: 250px;">
                                    <label class="control-label">Upload Photo (250x250)</label><br>
                                    <img src="../../images/default_image.png" id="thumbnail"
                                        class="img-thumbnail text-center" alt="avatar"
                                        onerror="this.onerror=null;this.src='../../images/default_image.png'"><br>
                                    <div class="mt-3">
                                        <input type="file" name="file-input" id="file-input" class="input___file"
                                            accept="image/*" @change="onChangeFileUpload" />
                                        <label for="file-input"><i class='fas fa-file-upload'></i> Browse file</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productFlovors">Flovors:</label>
                                    <textarea class="form-control" id="productFlovors" rows="1"
                                        v-model="newProduct.flovors"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productEffect">Effect:</label>
                                    <textarea class="form-control" id="productEffect" rows="1"
                                        v-model="newProduct.effect"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productDesc">Description:</label>
                            <textarea class="form-control" id="productDesc" rows="1"
                                v-model="newProduct.description"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveAddProduct">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update product -->
    <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog"
        aria-labelledby="updateProductModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateProductModalLabel">Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ฟอร์มเพิ่มสินค้า -->
                    <form ref="updateProductValidation" class="update-product-validation">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productName">Name:</label>
                                    <input type="text" class="form-control" id="productName" v-model="editProduct.name"
                                        required />
                                    <div class="invalid-feedback">
                                        Invalid Name
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productPrice">Price:</label>
                                            <input class="form-control" id="productPrice" v-model="editProduct.price"
                                                type="text" pattern="[1-9][0-9]{0,7}" required>
                                            <div class="invalid-feedback">
                                                Invalid Price
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productCate">Category:</label>
                                            <select class="form-control" v-model="editProduct.cate" required>
                                                <option value="flower" selected>Flower</option>
                                                <option value="trim">Trim</option>
                                                <option value="item">Item</option>
                                                <option value="stick">Stick</option>
                                                <option value="roll">Roll</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select category
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productSantiva">Santiva:</label>
                                            <input type="text" class="form-control" id="productSantiva"
                                                pattern="[0-9]{0,2}" v-model="editProduct.santiva" type="text">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productIndica">Indica:</label>
                                            <input class="form-control" id="productIndica" pattern="[0-9]{0,2}"
                                                v-model="editProduct.indica" type="text" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productThc">THC:</label>
                                            <input class="form-control" id="productThc" v-model="editProduct.thc"
                                                type="text" pattern="[0-9\.\-]*" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productCbd">CBD:</label>
                                            <input class="form-control" id="productCbd" v-model="editProduct.cbd"
                                                type="text" pattern="[0-9\.\-]*" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group" style="max-width: 250px;">
                                    <label class="control-label">Upload Photo (250x250)</label><br>
                                    <img src="../../images/default_image.png" id="thumbnail-edit"
                                        class="img-thumbnail text-center" alt="avatar"
                                        onerror="this.onerror=null;this.src='../../images/default_image.png'"><br>
                                    <div class="mt-2">
                                        <input type="file" name="file-input-edit" id="file-input-edit"
                                            class="input___file" accept="image/*" @change="onChangeFileUploadEdit" />
                                        <label for="file-input-edit"><i class='fas fa-file-upload'></i> Browse
                                            file</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productFlovors">Flovors:</label>
                                    <textarea class="form-control" id="productFlovors" rows="1"
                                        v-model="editProduct.flovors"></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productEffect">Effect:</label>
                                    <textarea class="form-control" id="productEffect" rows="1"
                                        v-model="editProduct.effect"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productDesc">Description:</label>
                            <textarea class="form-control" id="productDesc" rows="1"
                                v-model="editProduct.description"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveUpdateProduct">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal view detail -->
    <div class="modal fade" id="viewProductModal" tabindex="-1" role="dialog" aria-labelledby="viewProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewProductModalLabel">View Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- ฟอร์มเพิ่มสินค้า -->
                    <form ref="viewProductValidation" class="">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productName">Name:</label>
                                    <input type="text" class="form-control" id="productName"
                                        v-model="productDetail.name" disabled />
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productPrice">Price:</label>
                                            <input type="text" class="form-control" id="productPrice"
                                                v-model="productDetail.price" disabled>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productCate">Category:</label>
                                            <input class="form-control" v-model="productDetail.cate" disabled>
                                            </input>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productSantiva">Santiva:</label>
                                            <input type="text" class="form-control" id="productSantiva"
                                                v-model="productDetail.santiva" disabled>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productIndica">Indica:</label>
                                            <input class="form-control" id="productIndica"
                                                v-model="productDetail.indica" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productThc">THC:</label>
                                            <input class="form-control" id="productThc" v-model="productDetail.thc"
                                                disabled />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="productCbd">CBD:</label>
                                            <input class="form-control" id="productCbd" v-model="productDetail.cbd"
                                                disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" style="max-width: 250px;">
                                    <label class="control-label">Photo</label><br>
                                    <img src="../../images/default_image.png" id="thumbnail-view"
                                        class="img-thumbnail text-center" alt="avatar"
                                        onerror="this.onerror=null;this.src='../../images/default_image.png'"><br>
                                    <div class="mt-2">
                                        <label for="file-input-view">Image Name</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productFlovors">Flovors:</label>
                                    <textarea class="form-control" id="productFlovors" v-model="productDetail.flovors"
                                        rows="1" disabled></textarea>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productEffect">Effect:</label>
                                    <textarea class="form-control" id="productEffect" v-model="productDetail.effect"
                                        rows="1" disabled></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productDesc">Description:</label>
                            <textarea class="form-control" id="productDesc" v-model="productDetail.description" rows="1"
                                disabled></textarea>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productCbd">CreatedAt</label>
                                    <input class="form-control" id="productCreate" v-model="productDetail.createdAt"
                                        disabled />
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="productCbd">UpdateAt</label>
                                    <input class="form-control" id="productUpdate" v-model="productDetail.updatedAt"
                                        disabled />
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button id="edit-btn" class="btn btn-primary" @click="updateProductModal(productDetail.id)"><i
                            class="fas fa-edit"></i> Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="viewProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body text-center">
                    <i class="far fa-trash-alt fa-4x mb-4 animated rotateIn"></i>
                    <p class="heading">Are you sure?, Do you want to delete.</p>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" @click="confirmDelete()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>

    </div>

    <!-- Modal preview images -->
    <div class="modal fade" id="modalpreview" tabindex="-1" role="dialog" aria-labelledby="viewProductModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content text-center">
                <!-- <button type="button" class="close position-btn-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                </button> -->
                <div class="modal-header">
                    <span class="images-title"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">
                    <img id="imgpreview" alt="avatar"
                        onerror="this.onerror=null;this.src='../../images/default_image.png'" />
                </div>
            </div>
        </div>
    </div>

    <!-- Modal loading -->
    <div class="modal" id="modal-loading" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loading-spinner mb-2"></div>
                    <div>Loading</div>
                </div>
            </div>
        </div>
    </div>

</div>